	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/10/2020 11:56
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
      
font-style: normal;

}

.flaticon-quote:before { content: "\f100"; }
.flaticon-case-study:before { content: "\f101"; }
.flaticon-review:before { content: "\f102"; }
.flaticon-rocket:before { content: "\f103"; }
.flaticon-code:before { content: "\f104"; }
.flaticon-edit:before { content: "\f105"; }
.flaticon-sale:before { content: "\f106"; }
.flaticon-support:before { content: "\f107"; }
.flaticon-crossfit:before { content: "\f108"; }
.flaticon-multimedia:before { content: "\f109"; }
.flaticon-feedback:before { content: "\f10a"; }
.flaticon-rocket-1:before { content: "\f10b"; }
.flaticon-user:before { content: "\f10c"; }
.flaticon-idea:before { content: "\f10d"; }
.flaticon-idea-1:before { content: "\f10e"; }
.flaticon-computer:before { content: "\f10f"; }
.flaticon-shout:before { content: "\f110"; }
.flaticon-analytics:before { content: "\f111"; }
.flaticon-review-1:before { content: "\f112"; }
.flaticon-pencil:before { content: "\f113"; }
.flaticon-town:before { content: "\f114"; }
.flaticon-building:before { content: "\f115"; }
.flaticon-urban:before { content: "\f116"; }
.flaticon-idea-2:before { content: "\f117"; }
.flaticon-null:before { content: "\f118"; }
.flaticon-question:before { content: "\f119"; }
.flaticon-help:before { content: "\f11a"; }
.flaticon-shopping-list:before { content: "\f11b"; }
.flaticon-target:before { content: "\f11c"; }
.flaticon-pie-chart:before { content: "\f11d"; }
.flaticon-supermarket:before { content: "\f11e"; }
.flaticon-download:before { content: "\f11f"; }
.flaticon-invention:before { content: "\f120"; }
.flaticon-stack-of-books-and-a-magnifier:before { content: "\f121"; }
.flaticon-gmo:before { content: "\f122"; }
.flaticon-bullhorn:before { content: "\f123"; }
.flaticon-piggy-bank:before { content: "\f124"; }
.flaticon-stats:before { content: "\f125"; }
.flaticon-negotiating:before { content: "\f126"; }
.flaticon-lightbulb-idea:before { content: "\f127"; }
.flaticon-save-money:before { content: "\f128"; }
.flaticon-profit:before { content: "\f129"; }
.flaticon-analytics-1:before { content: "\f12a"; }
.flaticon-graph:before { content: "\f12b"; }
.flaticon-shout-1:before { content: "\f12c"; }
.flaticon-bug:before { content: "\f12d"; }
.flaticon-checkmark:before { content: "\f12e"; }
.flaticon-left-quote:before { content: "\f12f"; }
.flaticon-rate-star-button:before { content: "\f130"; }
.flaticon-info:before { content: "\f131"; }
.flaticon-right-arrow:before { content: "\f132"; }